<html>
    <head>
        <title>Modificar Personas</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    </head>
    <body>
        <form action="" method="POST">
            {% csrf_token %}
            <!-- <input type="text" name="{{form.nombre.html_name}}" id="id_nombre" class="form-control" value="{{form.nombre.value}}"/>
            <input type="text" name="{{form.apellidos.html_name}}" id="id_apellidos" class="form-control" value="{{form.apellidos.value}}"/>
            <select name="{{form.genero.html_name}}" id="id_genero" class="form-control" value="{{form.genero.value}}">
                <option value="M">Masculino</option>
                <option value="F">Femenino</option>
            </select>
            <input type="date" name="{{form.fecnac.html_name}}" id="id_fecnac" class="form-control" value="{{form.fecnac.value|date:'Y-m-d'}}"/> -->
            {{form.as_p}}
            <button type="submit" class="btn btn-primary">Guardar</button>
            <a href="/usuarios/personas" class="btn btn-danger">Cancelar</a>
        </form>

        <!-- <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
        <script type="text/javascript">
            $(function() {
                
            });
        </script> -->
    </body>
</html>