<html>
    <head>
        <title>Personas</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    </head>
    <body>
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12">
                    <div class="page-header">
                        <h3>
                            <span class="ddsicon-settings"></span> Personas  
                            <div class="float-right">
                                <a href="/usuarios/personas/registrar" class="btn btn-link">Registar Persona</a>
                            </div>
                        </h3>
                    </div>
                </div>
            </div>
            <table class="table table-hover table-striped">
                <thead class="thead-dark">
                    <tr>
                        <th>No</th>
                        <th>Nombre</th>
                        <th>Genero</th>
                        <th>Fecha de Nacimiento</th>
                        <th>Modificar</th>
                        <th>Eliminar</th>
                    </tr>
                </thead>
                <tbody>
                    {% for p in personas %}
                        <tr>
                            <td>{{p.pk}}</td>
                            <td>{{p.nombre_completo}}</td>
                            <td>{{p.genero}}</td>
                            <td>{{p.fecnac}}</td>
                            <td><a href="{%url 'detalle_persona' p.pk%}">Modificar</a></td>
                            <td><a href="{%url 'eliminar_persona' p.pk%}">Eliminar</a></td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

        <!-- <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
        <script type="text/javascript">
            $(function() {
                $('#btn-add-persona').click(function() {

                });
            });
        </script> -->
    </body>
</html>