{% include "header.html" %}


  <div class="container">

    <h3>
      Vehiculos registrados
      <button type="button" class="btn btn-sm btn-primary pull-right" data-toggle="modal" data-target="#frm-item"><i class="fa fa-plus"></i> Agregar</button>
    </h3>

    <table id="tbl-items" class="table table-hover table-striped">
        <thead class="thead-dark">
            <tr>
                <th>Vehiculo</th>
                <th>Placas</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                
            </tr>
        </tbody>
    </table>

  </div>

  <div id="frm-item" class="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Datos del vehículo</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          {% csrf_token %}
          <div class="form-group">
            <label for="exampleInputEmail1">Marca</label>
            <input type="text" class="form-control" id="id_marca" name="marca" aria-describedby="emailHelp">
          </div>
          <div class="form-group">
            <label for="exampleInputEmail1">Modelo</label>
            <input type="text" class="form-control" id="id_modelo" name="modelo" aria-describedby="emailHelp">
          </div>
          <div class="form-group">
            <label for="exampleInputEmail1">Placas</label>
            <input type="text" class="form-control" id="id_placas" name="placas" aria-describedby="emailHelp">
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
        <button type="button" class="btn btn-primary" id="btnSave">Guardar</button>
      </div>
    </div>
  </div>
</div>

{% include "footer.html" %}

<script>
$(document).ready(function(){

  $urlApi = 'http://0.0.0.0:8000/flotilla/';

  getAll();

  function getAll(){
    $('#tbl-items tbody').empty();
    $.get($urlApi+'get_vehiculos/', function(data){
      $.each(data, function(i,item){
        tr = $('<tr></tr>');
        tr.append('<td>'+item.marca+' '+item.modelo+'</td>');
        tr.append('<td>'+item.placas+'</td>');

        $('#tbl-items tbody').append(tr);
      });
    },'json');
  }

  $('#btnSave').click(function(){
    data = {marca: $('#id_marca').val(), 
    modelo: $('#id_modelo').val(), 
    placas: $('#id_placas').val(), 
    csrfmiddlewaretoken: $("input[name=csrfmiddlewaretoken]").val(), 
    anio: 2019}

    $.post($urlApi+'add/', data, function(data){
      getAll();
      $('#frm-item').modal('hide');
    },'json');
  });

});
</script>